<app-menu></app-menu>
<app-main-carousel></app-main-carousel>
<div class="container-fluid">
<div class="row gx-3 mt-3">
    <div class="col-6">
        <app-product-card></app-product-card>
    </div>
    <div class="col-6">
        <app-product-card></app-product-card>
    </div>
</div>
<div class="row gx-3 mt-3">
    <div class="col-6">
        <app-product-card></app-product-card>
    </div>
    <div class="col-6">
        <app-product-card></app-product-card>
    </div>
</div>
</div>
<app-create-product></app-create-product>
